*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html{
    height: 100%;
}
.app{
    display: flex;
    height: 100%;
}
.calculator-body{
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 27, 27);
}
.nav{
    display: flex;
    color: white;
}
.h2{
    font-weight: 400;
    flex: 1;
    margin: auto;
    pointer-events: none;
}
.hamburger{
    display: flex;
}
.historypane{
    background-color: rgb(27, 27, 27);
    width: 324px;
    height: 100%;
}

.history-button{
    display: none;
}
.hamburger-a,.history-a{
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}
.hist{
    text-align: end;
    color: white;
    padding: 0px 1rem 0px 0px;
}
.result h1{
    color: white;
    text-align: end;
    padding: 1rem;
    font-weight: 600;
    font-size: 42px;
}
.hamburger-a:hover,.history-a:hover{
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
}
.mbutton,.button{
    border: none;
    outline: none;
    color: white;
    padding: 1rem 4%;
    flex: auto;
    background-color: #00000000;
}
.button{
    background-color: #0000004f;
    font-size: 20px;
}
.numpad{
    background-color: #000000d8;
    font-size: 20px;
}
.equals{
    background-color: #0084ff59;
    font-size: 20px;
}
.mbutton:hover,.button:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.equals:active{
    background-color: #0084ffe5 !important;
}
.equals:hover{
    background-color: #0084ffbe;
}
.mbutton:active,.button:active{
    background-color: rgba(255, 255, 255, 0.2);
}
.mbuttons{
    display: flex;
    max-width: 100%;
}
.calcbuttons{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: calc(100% - 211px);
  grid-gap: 1px;
}
.history,.memory{
    padding: 8px 12px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}
.history:hover,.memory:hover{
    color: rgb(219, 219, 219);
}
.history:focus,.memory:focus{
    text-decoration: underline rgb(0, 110, 255);
    text-underline-offset: 4px;
    text-decoration-thickness: 4px;
}











@media only screen and (max-width: 468px) {
  .historypane{
      display: none;
  }
  .app{
    display: block;
}
.history-button{
    display: flex;
}
  }

